body {
  font-family: Arial;
}

nav {
  background-color: black;
}

nav a {
  color: white;
}
#rightClickBox {
    width: 200px;
    height: 80px;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    cursor: pointer;
    font-weight: bold;
}


